{
  "presets": [
   [ "next/babel", {
      "styled-jsx": {
        "plugins": [
          "styled-jsx-plugin-postcss",
          ["styled-jsx-plugin-sass", {
              "sassOptions": {
                "includePaths": ["client/styles"],
                "precision": 2,
              },
            },
          ],
        ],
      },
   }],
    "@babel/preset-flow"
  ],
}
