{
  "presets": [
   ["next/babel", {
      "styled-jsx": {
        "plugins": [
          "styled-jsx-plugin-postcss"
        ]
      }
   }],
    "@babel/preset-flow"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "legacy": false,
      "decoratorsBeforeExport": false
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}
