
$app-backup-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$app-font-family-1: 'Playfair Display', $app-backup-font-family;
$app-font-family-2: 'Nunito Sans', $app-backup-font-family;

$app-body-background: #eeeeee;

$app-spacing: 20px;
$app-transition-duration: 300ms;

$app-site-header-height: 60px;
$app-site-footer-height: 60px;

$app-button-background: transparent;
$app-button-background-hover: rgba(black, 0.9);
$app-button-border-color: rgba(black, 0.9);
$app-button-border-color-hover: rgba(black, 0.9);
$app-button-foreground-hover: rgba(white, 0.9);
$app-button-foreground: rgba(black, 0.85);

$app-button-success-background: transparent;
$app-button-success-background-hover: #1bbf5de6;
$app-button-success-border-color: #1bbf5de6;
$app-button-success-border-color-hover: #1bbf5de6;
$app-button-success-foreground-hover: rgba(white, 0.9);
$app-button-success-foreground: #1bbf5de6;
$app-button-success-foreground: rgba(black, 0.8);
